n8n_workflow_template.json
{
  "name": "MCP File Server Integration Test",
  "nodes": [
    {
      "parameters": {},
      "id": "f8b1e9a6-1234-4567-8901-234567890123",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/file-operation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "{\n  \"operation\": \"write_file\",\n  \"path\": \"/tmp/n8n_workflow_test.txt\",\n  \"content\": \"Hello from n8n workflow!\\nCreated at: {{ $now }}\"\n}"
      },
      "id": "a1b2c3d4-5678-9012-3456-789012345678",
      "name": "Write Test File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/file-operation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "{\n  \"operation\": \"read_file\",\n  \"path\": \"/tmp/n8n_workflow_test.txt\"\n}"
      },
      "id": "b2c3d4e5-6789-0123-4567-890123456789",
      "name": "Read Test File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/file-operation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "{\n  \"operation\": \"list_directory\",\n  \"path\": \"/tmp\"\n}"
      },
      "id": "c3d4e5f6-7890-1234-5678-901234567890",
      "name": "List Directory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process the file operation results\nconst writeResult = $input.first().json;\nconst readResult = $input.all()[1].json;\nconst listResult = $input.all()[2].json;\n\n// Create a summary\nconst summary = {\n  timestamp: new Date().toISOString(),\n  operations: {\n    write: {\n      success: writeResult.success,\n      result: writeResult.result\n    },\n    read: {\n      success: readResult.success,\n      content: readResult.result\n    },\n    list: {\n      success: listResult.success,\n      files_found: listResult.result ? listResult.result.split('\\n').length : 0\n    }\n  },\n  message: \"MCP file server integration test completed successfully!\"\n};\n\nreturn { json: summary };"
      },
      "id": "d4e5f6g7-8901-2345-6789-012345678901",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Write Test File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Test File": {
      "main": [
        [
          {
            "node": "Read Test File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Test File": {
      "main": [
        [
          {
            "node": "List Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Directory": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-07T17:00:00.000Z",
      "updatedAt": "2024-06-07T17:00:00.000Z",
      "id": "1",
      "name": "MCP Integration"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-06-07T17:00:00.000Z",
  "versionId": "1"
}